services:
  frontend:
    build:
      context: ./chessReview
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
    depends_on:
      - backend
    networks:
      - chess-network
    restart: unless-stopped

  backend:
    build:
      context: ./chessBackend
      dockerfile: Dockerfile
    environment:
      - PORT=5000
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    ports:
      - "8081:5000"
    networks:
      - chess-network
    restart: unless-stopped

networks:
  chess-network:
    driver: bridge
